 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">
      La Situation du jour
    </ion-title>

  </ion-toolbar>
</ion-header>

<br>

<ion-content [fullscreen]="true" class="bg_class">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">La Situation du jour</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h5>{{currentDate}}</h5> 
  <div class="flex">
   
    <ion-card >
      <ion-item lines="none" color="secondary">
        <h2 style="font-size: 23px;border-radius: 5px; background-color: gra; color:white;text-align: center">Nouveau
          cas </h2>
          
      </ion-item>
      <ion-item lines="none" color="secondary">
        <ion-label >
          <h1 style="font-size: 50px; text-align: center;">98</h1>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none" style="background-color: rgb(255, 123, 0);">
        <h2 style="font-size: 23px;border-radius: 5px; background-color: gra; color:white;text-align: center">Cas grave
        </h2>
      </ion-item>
      <ion-item lines="none" style="background-color: rgb(255, 123, 0);">
        <ion-label>
          <h1 style="font-size: 50px; text-align: center;">98</h1>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none" color="warning">
        <h2 style="font-size: 23px;border-radius: 5px; background-color: gra; color:white;text-align: center;">Cas sous
          traitement </h2>
      </ion-item>
      <ion-item lines="none" color="warning">
        <ion-label>
          <h1 style="font-size: 50px; text-align: center;color: white;">98</h1>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none" color="success">
        <h2 style="font-size: 23px;border-radius: 5px; background-color: gra; color:white;text-align: center">Nombre de
          gueris </h2>
      </ion-item>
      <ion-item lines="none" color="success">
        <ion-label>
          <h1 style="font-size: 50px; text-align: center; color:white">98</h1>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none" color="danger">
        <h2 style="font-size: 23px;border-radius: 5px; background-color: gra; color:white;text-align: center">Nombre de
          décés </h2>
      </ion-item>
      <ion-item lines="none" color="danger">
        <ion-label>
          <h1 style="font-size: 50px; text-align: center;">98</h1>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none" color="medium">
        <h2 style="font-size: 23px;border-radius: 5px; background-color: gra; color:white;text-align: center">Nombre de
          cas total </h2>
      </ion-item>
      <ion-item lines="none" color="medium">
        <ion-label>
          <h1 style="font-size: 50px; text-align: center; color:white">98</h1>
        </ion-label>
      </ion-item>
    </ion-card>

  </div>
  <ion-row>
    <ion-col col-12>
      <a href="http://covid19sn.ndugxibar.com/">
        voir plus de statistiques
      </a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <a href="https://cartosantesen.maps.arcgis.com/apps/opsdashboard/index.html#/d74c1c8960e1450d9ade59a8b5c9e9a7">
        Suivre l'evolution au Sénégal
      </a>
    </ion-col>
  </ion-row>
</ion-content>