.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: re;
}
ion-card {
  width: 46%;
  margin: 7px;
}
.bg_class{
  --background: linear-gradient(
      180deg, 
      #fafafa6b 0%, 
      #2919ff 33.5%, 
      #fafafa 100%
  ) !important;
}
a {
background-color:  #3dc2ff;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 10px;
width: 100%;
}
a:hover, a:active {
background-color: red;
}
h5 {
  color: #e8e8e8;
  margin-left: 20px;
  margin-top: -7px;
  font-size: medium;
  margin-bottom: 15px;
  text-transform: capitalize;
}