<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zones risques
    </ion-title>
    <ion-button color="secondary" outline shape="round" slot="end" (click)="votrePosition()"><ion-icon name="location-outline"></ion-icon>&nbsp; Position</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="success" (click)="mapOptions()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
